
.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.products ul {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;  
}

.products li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(53, 54, 58);
  padding: 1rem;
  color: white;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.products li img {
  display: block;
  width: 100%;  
  object-fit: cover;
  aspect-ratio: 16/9;
}

.products li button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
  cursor: pointer;  
}

.products li button:hover {
  opacity: 1;
}